<div>
  <h1>Cart</h1>

  <div>
    <p>Your cart is empty.</p>
  </div>

  <div *ngIf="appService.inCartItem">
    <div>
      <img
        src="../../../assets/images/image-product-1-thumbnail.jpg"
        alt="Product cart image"
      />

      <div>
        <p>Fall Limited Edition Sneakers</p>
        <span
          >$125.00 x <span>{{ appService.numberOfItems }}</span>
          <strong>${{ appService.totalProducts }}</strong>
        </span>
      </div>

      <img
        (click)="appService.deleteProduct()"
        src="../../../assets/images/icon-delete.svg"
        alt="Delete icon"
      />
    </div>

    <button>Checkout</button>
  </div>
</div>
