@import "../assets/scss/colors";

.main-container {
  display: flex;
  width: 65%;
  margin: 5% auto 0;
  align-items: center;

  @media (max-width: 919px) {
    width: 75%;
  }

  @media (max-width: 803px) {
    width: 80%;
  }

  @media (max-width: 769px) {
    width: 85%;
  }

  @media (max-width: 712px) {
    display: block;
    width: 100%;
  }

  .popup-window {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .popup-small {
      width: 27%;
      display: flex;
      justify-content: space-between;
      margin-top: 2%;

      img {
        margin: 0;
      }

      img:hover {
        opacity: 1;
        filter: invert(40%) brightness(170%);
      }
    }

    .popupImage {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .close {
        text-align: right;
        width: 45%;
        font-size: 50px;
        color: white;
        cursor: pointer;
      }

      .close:hover {
        color: hsl(26, 100%, 55%);
      }

      .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        .shoe-image {
          width: 45%;
          text-align: center;
          align-items: center;
          border-radius: 10px;
        }

        .arrow {
          background-color: $white;
          padding: 1.5%;
          border-radius: 100%;
          cursor: pointer;
        }

        .arrow:nth-of-type(1) {
          position: relative;
          left: 2%;
        }

        .arrow:nth-of-type(3) {
          position: relative;
          right: 2%;
        }
      }
    }
  }

  &__item:nth-of-type(1) {
    @media (max-width: 712px) {
      display: none;
    }
  }

  .mob-image {
    @media (min-width: 711px) {
      display: none;
    }
    display: flex;
    width: 100%;
    height: 54vh;

    .mob-hero-image {
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      height: 50vh;
    }

    .mob-arrow {
      position: absolute;
      left: 5%;
      top: 33%;
      z-index: 10;
      background-color: $white;
      padding: 3%;
      border-radius: 100%;
    }

    .arrow-next {
      position: absolute;
      right: 0%;
      left: 86%;
      top: 33%;
      z-index: 10;
    }
  }

  &__item {
    width: 50%;

    @media (max-width: 711px) {
      width: 90%;
      margin: auto !important;
    }

    &__image-big {
      img {
        width: 80%;
        border-radius: 15px;
        cursor: pointer;
      }
    }

    &__image-small {
      img {
        width: 16.3%;
        border-radius: 10px;
        margin-right: 5%;
        margin-top: 5%;

        @media (max-width: 919px) {
          width: 16%;
          height: fit-content;
        }
      }

      img:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }

    &__sneaker {
      text-transform: uppercase;
      font-weight: 700;
      color: $orange;
      font-size: 14px;
      letter-spacing: 2px;
    }

    &__header {
      font-size: 50px;
      margin-top: 2%;
      margin-bottom: 6%;

      @media (max-width: 711px) {
        font-size: 40px;
      }
    }

    &__text {
      color: $darkGrayishBlue;
      line-height: 1.7rem;
    }

    .price {
      @media (max-width: 711px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__price-container {
      display: flex;
      align-items: center;
      margin-bottom: 1%;

      @media (max-width: 711px) {
        margin: 0;
      }

      &__price {
        font-size: 25px;
        font-weight: 700;
        margin-right: 3%;

        @media (max-width: 711px) {
          margin-right: 10%;
        }
      }

      &__discount {
        color: $orange;
        font-weight: 700;
        background-color: $paleOrange;
        padding: 0.4% 1.3%;
        font-size: 15px;
        border-radius: 5px;

        @media (max-width: 711px) {
          padding: 2% 5%;
        }
      }
    }

    &__price-before {
      font-weight: 700;
      color: $grayishBlue;
      font-size: 15px;
      text-decoration: line-through;
    }

    &__number-container {
      display: flex;
      align-items: center;
      margin-top: 7%;

      @media (max-width: 711px) {
        display: block;
      }

      &__counter {
        background-color: $lightGrayishBlue;
        width: 28%;
        display: flex;
        justify-content: space-between;
        padding: 3% 2%;
        border-radius: 10px;
        margin-right: 3%;

        @media (max-width: 711px) {
          width: 100%;
          margin-bottom: 4%;
          padding-top: 5%;
          padding-bottom: 5%;
        }

        button {
          background-color: transparent !important;
          border: 0px;
          cursor: pointer;
        }
        span {
          font-weight: 700;
        }
      }

      &__add-to-cart {
        width: 63%;
        padding-top: 3%;
        padding-bottom: 3%;
        border: 0px;
        background-color: $orange;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-weight: 700;
        border-radius: 10px;
        cursor: pointer;

        box-shadow: 0px 24px 31px -10px rgba(255, 125, 26, 0.36);

        @media (max-width: 711px) {
          width: 100%;
          padding-top: 5%;
          padding-bottom: 5%;
          margin-bottom: 20%;
        }

        img {
          filter: brightness(0) invert(1);
          width: 5%;
          margin-right: 5%;
        }
      }

      &__add-to-cart:hover {
        opacity: 0.7;
      }
    }
  }
}
