<section class="main-container">
  <div class="main-container__item">
    <div class="main-container__item__image-big">
      <img (click)="popupImage = true" [src]="image" alt="Product" />
    </div>

    <div class="main-container__item__image-small">
      <img
        (click)="firstImage()"
        src="../../assets/images/image-product-1-thumbnail.jpg"
        height="100"
      />

      <img
        (click)="secondImage()"
        src="../../assets/images/image-product-2-thumbnail.jpg"
        height="100"
      />

      <img
        (click)="thirdImage()"
        src="../../assets/images/image-product-3-thumbnail.jpg"
        height="100"
      />

      <img
        (click)="fourthImage()"
        src="../../assets/images/image-product-4-thumbnail.jpg"
        height="100"
      />
    </div>
  </div>

  <div class="popup-window" *ngIf="popupImage">
    <div class="popupImage">
      <a class="close" (click)="popupImage = false">&times;</a>
      <div class="image-container">
        <img
          (click)="previousImage()"
          class="arrow"
          src="../../assets/images/icon-previous.svg"
          alt="Previous image"
        />
        <img class="shoe-image" [src]="image" alt="Product 1" />
        <img
          (click)="nextImage()"
          class="arrow"
          src="../../assets/images/icon-next.svg"
          alt="Next image"
        />
      </div>
    </div>

    <div class="main-container__item__image-small popup-small">
      <img
        (click)="firstImage()"
        src="../../assets/images/image-product-1-thumbnail.jpg"
        alt="Product 1"
      />
      <img
        (click)="secondImage()"
        src="../../assets/images/image-product-2-thumbnail.jpg"
        alt="Product 2"
      />
      <img
        (click)="thirdImage()"
        src="../../assets/images/image-product-3-thumbnail.jpg"
        alt="Product 3"
      />
      <img
        (click)="fourthImage()"
        src="../../assets/images/image-product-4-thumbnail.jpg"
        alt="Product 4"
      />
    </div>
  </div>

  <div class="main-container__item">
    <span class="main-container__item__sneaker">Sneaker Company</span>
    <h1 class="main-container__item__header">Fall Limited Edition Sneakers</h1>
    <p class="main-container__item__text">
      These low-profile sneakers are your perfect casual wear companion.
      Featuring a durable rubber outer sole, they’ll withstand everything the
      weather can offer.
    </p>
    <div class="main-container__item__price-container">
      <span class="main-container__item__price-container__price">$125.00</span>
      <span class="main-container__item__price-container__discount">50%</span>
    </div>
    <span class="main-container__item__price-before">$250.00</span>

    <div class="main-container__item__number-container">
      <div class="main-container__item__number-container__counter">
        <button>
          <img src="../../assets/images/icon-minus.svg" alt="Plus button" />
        </button>
        <span>0</span>
        <button>
          <img src="../../assets/images/icon-plus.svg" alt="Plus button" />
        </button>
      </div>

      <button class="main-container__item__number-container__add-to-cart">
        <img src="../../assets/images/icon-cart.svg" alt="Add to cart" />
        Add to cart
      </button>
    </div>
  </div>
</section>
