<nav class="navbar">
  <img src="../../assets/images/logo.svg" alt="Logo image" />
  <ul class="navbar__navbar-nav">
    <li class="navbar__navbar-nav__item"><a>Collections</a></li>
    <li class="navbar__navbar-nav__item"><a>Men</a></li>
    <li class="navbar__navbar-nav__item"><a>Woman</a></li>
    <li class="navbar__navbar-nav__item"><a>About</a></li>
    <li class="navbar__navbar-nav__item"><a>Contact</a></li>
  </ul>

  <div>
    <img src="../../assets/images/icon-cart.svg" alt="Cart icon" />
    <img src="../../assets/images/image-avatar.png" alt="Avatar icon" />
  </div>
</nav>
